.loading-overlay {
    background-color: rgba(0,0,0,0.2);
    width: 100%;
    height: 98vh;
    
    /* 위치잡기 */
    position: absolute;

    /* 가운데 정렬 */
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;

    /* 오버레이 작동중 다른작업막기 z-index 기본값 0 */
    z-index: 1;
}