body, html {
  margin : 0;
  padding : 0;
}

body.light-mode {
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease;
}
body.dark-mode {
  background-color: #1a1919;
  color: #999;
}

.App {
  
}

.app-close {
  position: absolute;
  font-size: 24px;
  right: 20px;

}


.todolist-date{
  margin: 20px 12px 0px 12px;
  font-size: 30px;
  font-weight: 700;
  /* background: purple; */
/* border: 1px solid green; */
}

.todolist-dayofweek{
  margin: 0 12px;
  font-size: 20px;
  font-weight: 700;
  /* background: blue; */
  /* border: 1px solid green; */
}

.todolist-body {
  /* width: 100%; */
  /* margin: 20px 12px 0px 12px; */
  display: flex;
  /* background: purple; */
}

.todolist-overview{
  width: 75%;
  /* margin-left: -26px; */
  font-size: 20px;
  font-weight: 700;
  color: rgba(0,136,0);
  /* background: blue; */
  /* border: 1px solid green; */
}

.todolist-toggle {
  /* 위치 설정 */
  position: absolute;
  right : 20px;
  height: 28px;
  /* width: 20%; */
  /* padding-left: 2%; */
  /* margin-left: 3%; */
  cursor: pointer;
  /* background: red; */
}

.todolist-items{
  /* margin: 12px 12px; */
  /* border: 1px solid green; */
}

.todolist-item {
  margin: 12px 12px;
  padding: 8px 0;
  border: 1px solid rgba(136,136,136,0.2);
  border-radius: 5px;
  /* 그림자 : 우  하 흐려지는정도 색상 */
  box-shadow: 1px 1px 15px rgba(0,0,0,0.2);
}

.todolist-item-content{
  /* border: 1px solid green; */
  display : flex;
  align-items: center;
  justify-content: center;
  /* border-radius: 5px; */
}

.item-check{
  /* 가운데 설정 */
  display: flex;
  align-items: center;
  justify-content: center;  

  /* min- 최소값유지 */
  min-width: 24px;
  min-height: 24px;
  border-radius: 50%;

  margin: 0 12px;
  font-size: 24px;
  border: 1px solid gray;
  /* color: green; */

  cursor: pointer;
}

.item-done {
  color: rgba(0,136,0);;
  border: 1px solid rgba(0,136,0);;
  cursor: pointer;
}

.text-done {
  color: gray;
  text-decoration: line-through;
}

.item-text {
  margin: 0 12px;
  width: 70%;
  /* border: 1px solid red; */
}

.item-delete {
  margin: 0 12px;
  /* border: 1px solid red; */
}

.item-delete > i {
  font-size: 23px;
  color: gray;
  cursor: pointer;
}

.todolist-item-datetime {
  margin: 0 12px;
  text-align: right;
  font-size: 12px;
}


.bottom {
  /* background: blue; */
  margin: 12px 12px;
}

.bottom-sheet {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background: rgba(0, 0, 0, 0.24);
}

.bottom-sheet > input {
  /* 너비100%에 간격 넓히기 */
  width: 100%;
  margin: 0 24px;
  height: 30px;
  font-size: 16px;

  outline: none;
  border: 1px solid #eee;
  border-radius: 4px;
}

.circle-button{
  /* 가운데 설정 */
  display: flex;
  align-items: center;
  justify-content: center;

  /* 위치 설정 */
  position: fixed;
  right : 20px;
  bottom : 100px;

  /* 크기 및 둥글기 */
  width : 32px;
  height : 32px;
  border-radius: 50%;
  
  /* 글자크기와 색상 */
  border: 1px solid rgba(0,136,0);
  font-size: 20px;
  color: #fff;
  background: rgba(0,136,0);;

  cursor: pointer;
}

